Repository primeinc/file-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: cli-cleanliness-test, cli-help-test, pytest-core, no-manual-imports, artifact-discipline, entry-points-check

Path conditions:
  cli-cleanliness-test: any of: ^src/cli/
  cli-help-test: any of: ^src/cli/
  pytest-core: any of: ^(src/|tests/)
  no-manual-imports: any of: ^src/cli/
  artifact-discipline: any of: ^(src/|.*\.sh)
  entry-points-check: any of: ^(pyproject\.toml|src/cli/)

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Add workflow to test Anthropic API key
  .github/workflows/test-anthropic-api.yml
  src/cli/test/fastvlm_tests.py
  src/cli/test/json_tests.py
  src/models/fastvlm/errors.py
  tests/test_cli_cleanliness.py
  tests/test_cli_comprehensive.py
  tests/test_cli_essential.py
  tests/test_cli_integrations.py
Due: cli-cleanliness-test, cli-help-test, pytest-core, no-manual-imports, artifact-discipline, entry-points-check

fix: add PathAwareJSONEncoder to handle pathlib.Path serialization
  src/cli/utils/render.py
  src/models/fastvlm/adapter.py
  tests/test_artifact_discipline_pytest.py
Due: cli-cleanliness-test, cli-help-test, pytest-core, no-manual-imports, artifact-discipline, entry-points-check

feat: implement centralized configuration management system
  pyproject.toml
  src/config/__init__.py
  src/config/paths.py
  src/config/settings.py
  uv.lock
Due: pytest-core, artifact-discipline, entry-points-check

[wip] Fix import issues and integrate config system
  .githooks/pre-commit
  .github/workflows/artifact-discipline.yml
  .github/workflows/cli-validation.yml
  .gitignore
  README.md
  docs/ARTIFACTS.md
  docs/CLAUDE.md
  docs/CONFIGURATION_REFACTOR_PLAN.md
  docs/INSTALL.md
  docs/MODELS.md
  docs/MODEL_ANALYSIS.md
  docs/PYTHON_ARTIFACT_DISCIPLINE.md
  docs/PYTHON_MODULES.md
  docs/README_CLI.md
  docs/SHELL_TO_PYTHON_MIGRATION.md
  docs/WARP.md
  docs/pr_review_audit.md
  scripts/artifact_guard_py_adapter.sh
  scripts/check_all_scripts.sh
  scripts/check_script_conformity.sh
  scripts/install.sh
  scripts/preflight.sh
  scripts/test_hook.sh
  src/cli/artifact/preflight.py
  src/cli/artifact/script_checks.py
  src/cli/common/config.py
  src/config/__init__.py
  src/config/manager.py
  src/core/analyzer.py
  src/core/vision.py
  src/models/config.py
  src/models/manager.py
  tests/test_ban_manual_imports.py
  tests/test_cli_integrations.py
  tests/test_config_integration.py
Due: cli-cleanliness-test, cli-help-test, pytest-core, no-manual-imports, artifact-discipline, entry-points-check

[ci] Pre-commit: add missing Bandit dependency 'pbr' to fix Windows hook env
  .pre-commit-config.yaml
Due: none

[docs] Fix typos flagged by codespell (overrideable -> overridable) in settings.py
  src/config/settings.py
Due: pytest-core, artifact-discipline

[types] Phase 2: add return type annotations to utils (json_parser, json_utils) and annotate parameters for validation functions
  src/utils/json_parser.py
  src/utils/json_utils.py
Due: pytest-core, artifact-discipline

[ci] Fix coverage enforcement and normalize line endings
  README.md
Due: none

[lint] Run ruff --fix for mechanical cleanup
  src/utils/json_utils.py
Due: pytest-core, artifact-discipline

[docs] Update README to match actual CLI structure
  README.md
Due: none

Add working CLI smoke tests with improved coverage
  tests/test_cli_smoke.py
Due: pytest-core

Temporarily disable strict import ban tests for coverage focus
  tests/test_ban_manual_imports.py
Due: pytest-core
